.anchor-pane{
    -fx-background-color: #132fba;
    /*-fx-min-height: 712px;*/
    /*-fx-min-width: 218px;*/

}
#anchorpane_1{
    -fx-background-color: #fff6d2;
    -fx-background-radius: 15px 15px 15px 15px;

}

/*:root {*/
/*    --text-color: #799cf0;*/
/*}*/

.table-view {
    -fx-font-family: "Montserrat";
    /*-fx-min-width: 600px; !* Minimum width *!*/
    -fx-pref-width: 670px;
}

.table-view .table-column {
    -fx-pref-width: 85px;
}

.table-view .table-row-cell {
    -fx-pref-height: 25px;
}

.table-view .table-column#colStatus {
    -fx-pref-width: 160px;
}

/*.table-view .table-column#colOvertime {*/
/*    -fx-pref-width: 80px;*/
/*}*/
/*Table header color*/
.table-view .column-header {
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #799cf0;
    -fx-pref-height: 30px;
}

.table-row-cell .table-cell {
    -fx-alignment: center; /* Đảm bảo văn bản được căn giữa theo chiều ngang */
    -fx-alignment: center; /* Căn giữa theo chiều dọc */
}

/*Table header color*/
.table-view .column-header .label{
    -fx-text-fill: #fffefa;
    -fx-font-size: 15px;
}
#background{
    -fx-background-color: #FFFEFA;
}
/*#ButtonHome {*/
/*    -fx-background-color: #FFFEFA;*/
/*    -fx-background-radius: 30px 0px 0px 30px; !*size border button*!*/
/*    !*-fx-border-radius: 20px;*!*/
/*    !*-fx-border-width: 3px 3px 3px 3px;*!*/
/*    !*-fx-border-style: solid;*!*/
/*    !*-fx-border-color: #132fba;*!*/
/*}*/
#ButtonMonth{
    -fx-background-color: #799cf0;
    -fx-background-radius: 15px 15px 15px 15px;

}

#ButtonMonth:hover {
    -fx-background-color: #fff6d2;
    -fx-text-fill: #132fba;
    -fx-font-weight: 200;
    /*-fx-opacity: 0.7;*/
}

#ButtonMonth .cell{
    -fx-text-fill: #132fba;
    -fx-font-size: 17px;
    -fx-font-family: "Montserrat Medium";
}

#HomeButton {
    -fx-background-color: #FFFEFA;
    -fx-background-radius: 30px 0px 0px 30px; /*size border button*/
    /*-fx-border-radius: 20px;*/
    /*-fx-border-width: 3px 3px 3px 3px;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-color: #132fba;*/
}

#MonthButton {
    -fx-background-color: #132fba;
    -fx-background-radius: 30px 30px 30px 30px;
}

/*PIE CHART COLOR*/

/*LOOP1*/
/* absent */
.default-color0.chart-pie {
    -fx-pie-color: #F3CA52;
}

/* late */
.default-color1.chart-pie {
    -fx-pie-color: #8B322C;
}

/* in time */
.default-color2.chart-pie {
    -fx-pie-color: #AFD198;
}

/* abs appr */
.default-color3.chart-pie {
    -fx-pie-color: #D1BB9E;
}


/*LOOP 2*/
/* absent */
.default-color4.chart-pie {
    -fx-pie-color: #F3CA52;
}

/* late */
.default-color5.chart-pie {
    -fx-pie-color: #8B322C;
}

/* in time */
.default-color6.chart-pie {
    -fx-pie-color: #AFD198;
}

/* abs appr */
.default-color7.chart-pie {
    -fx-pie-color: #D1BB9E;
}