/*
BASE STYLE
*/

.sidebar{
     -fx-background-color:#132FBA;
}

.tab {
    -fx-background-color:#FFFEFA;
}

.trans {
    -fx-background-color:transparent;
}

/*
FRAME STYLE
*/

.frame1{
    -fx-background-color:#FFF6D2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #FFF6D2;
}

.frame2{
    -fx-background-color:transparent;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
}

.frame3{
    -fx-background-color: #799CF0;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #799CF0;
}

.frame4{
    -fx-background-color: #132FBA;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
}

.frame5{
    -fx-background-color: #FFF6D2;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
}

/*
COMBO BOX STYLE
*/

.month {
    -fx-background-color: #132FBA;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-font-family: 'Montserrat';
}

.month .list-cell {
    -fx-text-fill: white;
}

.month .list-view .list-cell:filled:selected {
    -fx-background-color: #0078D7;
}

.month .list-view .list-cell:filled:selected .text {
    -fx-fill: white;
}

.month .list-view .list-cell:filled:hover {
    -fx-background-color: #799CF0;
    -fx-text-fill: white;
}

.month .list-view .list-cell:filled {
    -fx-background-color: white;
    -fx-text-fill: #132FBA;
}

/*
PIECHART COLOR
*/

.default-color0.chart-pie {
    -fx-pie-color: #F3CA52;
}

.default-color1.chart-pie {
    -fx-pie-color: #8B322C;
}

.default-color2.chart-pie {
    -fx-pie-color: #AFD198;
}

.default-color3.chart-pie {
    -fx-pie-color: #F3CA52;
}

.default-color4.chart-pie {
    -fx-pie-color: #8B322C;
}

.default-color5.chart-pie {
    -fx-pie-color: #AFD198;
}

/*
TABLE COLOR
*/

.table-view {
    -fx-font-family: "Montserrat";
    -fx-pref-width: 630px;
}

.table-view .table-cell {
    -fx-alignment: center;
}

/*Table header color*/
.table-view .column-header {
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: #799cf0;
    -fx-pref-height: 30px;
}

/*Table header color*/
.table-view .column-header .label{
    -fx-text-fill: #fffefa;
    -fx-font-size: 15px;
}
