.sidebar{
     -fx-background-color:#132FBA;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.tab {
    -fx-background-color:#FFFEFA;
}

.frame1{
    -fx-background-color:#FFF6D2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #FFF6D2;
}

.frame2{
    -fx-background-color:transparent;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
}

.frame3{
    -fx-background-color: #799CF0;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #799CF0;
}

.frame4{
    -fx-background-color: #132FBA;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #132FBA;
}
.frame5{
}
